[package]
name = "crypto-primes"
version = "0.6.1"
edition = "2021"
license = "Apache-2.0 OR MIT"
description = "Random prime number generation and primality checking library"
repository = "https://github.com/entropyxyz/crypto-primes"
readme = "README.md"
categories = ["cryptography", "no-std"]
rust-version = "1.83"

[dependencies]
crypto-bigint = { version = "0.7.0-pre", default-features = false, features = ["rand_core"] }
rand_core = { version = "0.9.0", default-features = false }

# Optional dependencies used in tests and benchmarks
openssl = { version = "0.10.39", optional = true, features = ["vendored"] }
rug = { version = "1.26", default-features = false, features = ["integer"], optional = true }
glass_pumpkin = { version = "1", optional = true }
rayon = { version = "1", optional = true }
[dev-dependencies]
# need `crypto-bigint` with `alloc` to test `BoxedUint`
crypto-bigint = { version = "0.7.0-pre", default-features = false, features = ["alloc"] }
rand_chacha = "0.9"
criterion = { version = "0.5", features = ["html_reports"] }
num-modular = { version = "0.5", features = ["num-bigint"] }
num-bigint = "0.4"
num-integer = "0.1"
proptest = "1"
num-prime = "0.4.3"
num_cpus = "1.16"

[features]
default = ["default-rng"]
default-rng = ["rand_core/os_rng"]
tests-openssl = ["openssl"]
tests-gmp = ["rug/std"]
tests-glass-pumpkin = ["glass_pumpkin"]
tests-exhaustive = []
tests-all = ["tests-openssl", "tests-gmp", "tests-exhaustive", "tests-glass-pumpkin"]
multicore = ["rayon"]

[package.metadata.docs.rs]
features = ["default"]
# Used to conditionally enable the unstable feature `doc-cfg`
rustdoc-args = ["--cfg", "docsrs"]

[[bench]]
name = "bench"
harness = false

[[bench]]
name = "cctv"
harness = false

[patch.crates-io]
# https://github.com/RustCrypto/crypto-bigint/pull/762
# https://github.com/RustCrypto/crypto-bigint/pull/765
crypto-bigint = { git = "https://github.com/RustCrypto/crypto-bigint.git" }

# https://github.com/LF-Decentralized-Trust-labs/agora-glass_pumpkin/pull/26
glass_pumpkin = { git = "https://github.com/baloo/agora-glass_pumpkin.git", branch = "baloo/rand-core/0.9" }
# https://github.com/rust-num/num-bigint/pull/317
num-bigint = { git = "https://github.com/bionicles/num-bigint.git" }
