[package]
name = "crypto-primes"
version = "0.5.0"
edition = "2021"
license = "Apache-2.0 OR MIT"
description = "Random prime number generation and primality checking library"
repository = "https://github.com/entropyxyz/crypto-primes"
readme = "README.md"
categories = ["cryptography", "no-std"]
rust-version = "1.65"

[dependencies]
crypto-bigint = { git = "https://github.com/RustCrypto/crypto-bigint", branch = "master", features = ["alloc", "rand_core" ] }
rand_core = { version = "0.6.4", default-features = false }
openssl = { version = "0.10.39", optional = true, features = ["vendored"] }
rug = { version = "1.18", default-features = false, features = ["integer"], optional = true }

[dev-dependencies]
rand_chacha = "0.3"
criterion = { version = "0.4", features = ["html_reports"] }
num-modular = { version = "0.5", features = ["num-bigint"] }
num-bigint = "0.4"
num-integer = "0.1"
proptest = "1"
num-prime = "0.4.3"

[features]
default = ["default-rng"]
default-rng = ["rand_core/getrandom"]
tests-openssl = ["openssl"]
tests-gmp = ["rug"]
tests-exhaustive = []
tests-all = ["tests-openssl", "tests-gmp", "tests-exhaustive"]

[package.metadata.docs.rs]
features = ["default"]
# Used to conditionally enable the unstable feature `doc-cfg`
rustdoc-args = ["--cfg", "docsrs"]

[[bench]]
name = "bench"
harness = false
